h1 {
    color:blue;
    font-family:verdana;
    font-size:150%;
}

h2 {
    color:blue;
    font-family:verdana;
    font-size:100%;
}

p1 {
    color:black;
    font-family:courier;
    font-size:80%;
}

p2 {
    color:black;
    font-family:courier;
    font-size:70%;
}

table, th, td {
    border:1px solid black;
    border-collapse:collapse;
    vertical-align:top;
}

