h1 {
    color:blue;
    font-family:verdana;
    font-size:30px;
}

h2 {
    color:blue;
    font-family:verdana;
    font-size:20px;
}

p1 {
    color:black;
    font-family:courier;
    font-size:16px;
}

p2 {
    color:black;
    font-family:courier;
    font-size:14px;
}

p3 {
    color:red;
    font-family:courier;
    font-size:14px;
}

table, th, td {
    border:1px solid black;
    border-collapse:collapse;
    vertical-align:top;
}

