{% extends "template.html" %}

{% block body %}
<p1>
The DNA-Crypter program was created by students of International Frontiers in Life Science, The Center for Reasearch and Interdisciplinary, Paris. The members of the team include Anna Danese, Joanna Summers and Andjelika Kalezic.<br>
We would like to thank Omar Awile and Guillame Villain for their help and teachings.<br><br>
</p1>
<p2>
Code was written using Python language.<br>
- Libraries utilised: 
<ul>
  <li><a href="http://flask.pocoo.org/" target="_blank">Flask</a></li> 
  <li><a href="https://wtforms.readthedocs.org/en/latest/">WTForms</a></li>
</ul>
</p2>
{% endblock %}
